@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
:root{
    --light_blue : #E9F1FE ; 
    --dark_blue: #2C3A5E;
    --green : #89CDD3 ; 
}
*{
    font-family: 'Poppins', sans-serif;
}

@layer base{
    body{
        @apply bg-white dark:bg-custom-dark-bg text-custom-dark-blue dark:text-custom-white; 
    }
}
/* Swipers */
 
/* Footer*/
.copyrights{
    background-color: var(--dark_blue);
}

/* Header */
.loginButton{
   background-color: var(--green);
   width:140px
} 
.signUpButton{
    background-color: var(--light_blue);
    width:140px
}

/* Home Page */ 
.HomePgeHeader{
    background-image: url('../public/imgs/HomeBG.svg');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 540px;
    width:100%;
}
.shopNowButton , .seeMoreButton{
    background-color: var(--green);
}
.productBox{
    box-shadow:1px 0px 0px 0px rgba(12 , 12 , 12 , 0.2);
    height:220px ;
    width: 240px;
    cursor : pointer ; 
}
.productBox:hover{
    box-shadow:1px 0px 5px 0px rgba(12 , 12 , 12 , 0.2);
}
.marks , .plusProduct{
    background-color: var(--dark_blue);
}
.centreMap{
    height:350px ;
    border-color: var(--dark_blue);
}
.voirPlusButton , .products , .categories {
    border-color: var(--dark_blue);
}
.aboutUs{
    height: 350px;
}
.aboutimg{
    height: 350px; 
}
.aboutButton{
    background-color: var(--light_blue);
}
.questionBox{
    border-color: var(--green);
}

/* Products Page */
.productsHeader{
    background-image: url('../public/imgs/productsHeader.svg');
    height: 240px;
    background-size: cover;
    background-repeat: none;
}
.greenText{
   color: var(--green);
}
/* Products Page */ 
.ProductBox{ 
    height:220px ;
    width: 240px;
    border:solid var(--green);
    border-width: 2px ; 
    cursor: pointer;
    box-shadow: 1px 0 10px 1px rgba(12 , 12 , 12 , 0.1);
}
.ProductBox:hover{
    background-color: rbga(120 , 12 , 12 , 0.8);
    width: 250px ; 
    height: 230px;
    box-shadow: 1px 0 10px 1px rgba(12 , 12 , 12 , 0.1);
}

/* login SignUp */ 
.connectionCard{
    background-image: url('../public/imgs/connectionBG.svg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
.connectionBox{
    height: 450px;
}
.productDetails{
    white-space: pre-line;
}

@media only screen and (max-width: 600px){
    .connectionBox{
        height: 630px;
    } 
}
/* payment */ 
.paymentHeader{
    background-image: url('../public/imgs/paymentBG.svg');
    height: 240px;
    background-size: cover;
    background-repeat: none;
}
.swiper-pagination-bullet-active  {
    background-color: var(--green) !important;
  }