@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --light_blue : #E9F1FE ; 
    --dark_blue: #2C3A5E;
    --green : #89CDD3 ; 
}
*{
    color: var(--dark_blue) ; 
    font-family: poppins;
}


/* Footer*/
.copyrights{
    background-color: var(--dark_blue);
}
.Footer{
    background-color: var(--light_blue);
}

/* Header */
.loginButton{
   background-color: var(--green);
   width:140px
} 
.signUpButton{
    background-color: var(--light_blue);
    width:140px
}

/* Home Page */ 
.HomePgeHeader{
    background-image: url('../public/imgs/HomeBG.svg');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 440px;
    width:100%;
}
.shopNowButton , .seeMoreButton{
    background-color: var(--green);
}
.productBox{
    background-color: var(--light_blue);
    height:220px ;
    width: 240px;
}
.marks , .plusProduct{
    background-color: var(--dark_blue);
}
.centreMap{
    height:270px ;
    width: 270px;
    border-color: var(--dark_blue);
}
.voirPlusButton , .products , .categories {
    border-color: var(--dark_blue);
}
.aboutUs{
    background-color: var(--dark_blue);
    height: 350px;
}
.aboutimg{
    height: 350px; 
}
.aboutButton{
    background-color: var(--light_blue);
}
.questionBox{
    border-color: var(--green);
}

/* Products Page */
.productsHeader{
    background-image: url('../public/imgs/productsHeader.svg');
    height: 240px;
    background-size: cover;
    background-repeat: none;
}
.greenText{
   color: var(--green);
}
/* Products Page */ 
.ProductBox{
    background-color: var(--light_blue);
    height:200px ;
    width: 220px; 
}

/* login SignUp */ 
.connectionCard{
    background-image: url('../public/imgs/connectionBG.svg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
.connectionBox{
    height: 450px;
}

@media only screen and (max-width: 600px){
    .connectionBox{
        height: 630px;
    } 
}
/* payment */ 
.paymentHeader{
    background-image: url('../public/imgs/paymentBG.svg');
    height: 240px;
    background-size: cover;
    background-repeat: none;
}